---
import Layout from "@/layouts/Layout.astro";
import About from "@/sections/About.astro";
import Experience from "@/sections/Experience.astro";
import Home from "@/sections/Home.astro";
import Projects from "@/sections/Projects.astro";
---

<Layout
  title="Martín Sepúlveda - Desarrollador Web Junior"
  description="Desarrollador Web Junior"
>
  <main
    class="container mx-auto mb-32 mt-16 space-y-16 px-4 sm:mt-32 sm:space-y-24 lg:max-w-screen-lg"
  >
    <Home />
    <Experience />
    <Projects />
    <About />
  </main>
</Layout>
