---
import Layout from "../layouts/Layout.astro";

import Container from "../components/Container.astro";
import Title from "../components/Title.astro";

import Home from "../components/Home.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";

import WaveTop from "../components/WaveTop.astro";
import WaveBottom from "../components/WaveBottom.astro";

import Briefcase from "../components/icons/briefcase.astro";
import Code from "../components/icons/code.astro";
import UserCheck from "../components/icons/user-check.astro";
import Mail from "../components/icons/mail.astro";
---

<Layout title="Martín Sepúlveda" description="Mi Portfolio Web">
  <WaveTop />

  <Container
    id="inicio"
    class="grid items-center justify-center gap-4 sm:grid-cols-[1fr_max-content] sm:gap-8"
  >
    <Home />
  </Container>

  <Container id="experiencia">
    <Title>
      <Briefcase class="size-7" /> Experiencia
    </Title>

    <Experience />
  </Container>

  <Container id="proyectos">
    <Title>
      <Code class="size-7" /> Proyectos
    </Title>

    <Projects />
  </Container>

  <Container id="sobre-mi">
    <Title>
      <UserCheck class="size-7" /> Sobre mí
    </Title>

    <About />
  </Container>

  <Container id="contacto">
    <Title>
      <Mail class="size-7" /> Contacto
    </Title>

    <Contact />
  </Container>

  <WaveBottom />
</Layout>
