---
import Picture from "./Picture.astro";
---

<div class="grid gap-8 sm:grid-cols-[1fr_max-content]">
  <Picture class="justify-self-center sm:order-last md:max-w-[256px]" />

  <div
    class="grid gap-y-4 [&_strong]:text-primary-900 dark:[&_strong]:text-primary-100"
  >
    <p>
      Me llamo Santiago Martín Sepúlveda pero me dicen Martín. Empecé con la
      programación a los 18 años aprendiendo HTML, CSS, JavaScript y PHP en los <strong
        >estudios secundarios</strong
      >.
    </p>

    <p>
      Actualmente con 20 años estoy en mi último año en una <strong
        >carrera de Desarrollo de Software</strong
      > y he amplado mis conocimientos a lenguajes como Java y Python y frameworks
      como Angular, React, Next.js, Node.Js, Spring y Astro.
    </p>

    <p>
      Mi mayor éxito actualmente es llegar al exterior y haber tenido la
      oportunidad de <strong
        >colaborar en el sitio web Fairway Indoor Golf</strong
      >, obteniendo mis primeros ingresos gracias a ello.
    </p>
  </div>
</div>
