<span
  class={`rounded-full border border-secondary-600 bg-secondary-50 px-2 py-1 text-xs text-zinc-800 dark:border-secondary-300 dark:bg-secondary-950 dark:text-zinc-100 ${Astro.props.class}`}
  {...Astro.props}
>
  <slot />
</span>
