---
import Send from "./icons/send.astro";
---

<article class="grid gap-8 sm:grid-cols-2">
  <div></div>

  <form
    action="mailto:sepulvedamartin072@gmail.com"
    class="[&>div]:relative [&>div]:mb-4"
  >
    <div>
      <input
        class="peer block w-full rounded-3xl bg-primary-50 px-4 pb-1 pt-5 caret-primary-600 ring-1 ring-zinc-300 focus:outline-0 focus:ring-primary-600 dark:bg-zinc-900 dark:caret-primary-300 dark:ring-zinc-700 dark:focus:ring-primary-300"
        type="email"
        name="email"
        id="email"
        placeholder=" "
      />
      <label
        class="pointer-events-none absolute left-0 top-0 z-10 origin-[0_0] -translate-y-2 scale-[0.85] whitespace-nowrap px-4 py-3 transition-transform after:absolute after:inset-x-1.5 after:inset-y-4 after:-z-10 after:rounded-full after:bg-primary-50 peer-placeholder-shown:-translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-2 peer-focus:scale-[0.85] dark:after:bg-zinc-900"
        for="email"
      >
        Email
      </label>
    </div>

    <div>
      <input
        class="peer block w-full rounded-3xl bg-primary-50 px-4 pb-1 pt-5 caret-primary-600 ring-1 ring-zinc-300 focus:outline-0 focus:ring-primary-600 dark:bg-zinc-900 dark:caret-primary-300 dark:ring-zinc-700 dark:focus:ring-primary-300"
        type="text"
        name="subject"
        id="subject"
        placeholder=" "
      />
      <label
        class="pointer-events-none absolute left-0 top-0 z-10 origin-[0_0] -translate-y-2 scale-[0.85] whitespace-nowrap px-4 py-3 transition-transform after:absolute after:inset-x-1.5 after:inset-y-4 after:-z-10 after:rounded-full after:bg-primary-50 peer-placeholder-shown:-translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-2 peer-focus:scale-[0.85] dark:after:bg-zinc-900"
        for="subject"
      >
        Asunto
      </label>
    </div>

    <div>
      <textarea
        class="peer block min-h-[100px] w-full rounded-3xl bg-primary-50 px-4 pb-1 pt-5 caret-primary-600 ring-1 ring-zinc-300 focus:outline-0 focus:ring-primary-600 dark:bg-zinc-900 dark:caret-primary-300 dark:ring-zinc-700 dark:focus:ring-primary-300"
        name="comments"
        id="comments"
        placeholder=" "></textarea>
      <label
        class="pointer-events-none absolute left-0 top-0 z-10 origin-[0_0] -translate-y-2 scale-[0.85] whitespace-nowrap px-4 py-3 transition-transform after:absolute after:inset-x-1.5 after:inset-y-4 after:-z-10 after:rounded-full after:bg-primary-50 peer-placeholder-shown:-translate-y-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-2 peer-focus:scale-[0.85] dark:after:bg-zinc-900"
        for="comments"
      >
        Comentarios
      </label>
    </div>

    <button
      type="submit"
      title="Enviar"
      class="group inline-flex items-center gap-x-2 rounded-full bg-primary-600 py-2 pl-4 pr-3 font-bold text-zinc-100 transition-colors hover:bg-primary-800 focus-visible:outline-none focus-visible:ring focus-visible:ring-primary-900 active:bg-primary-900 dark:bg-primary-300 dark:text-zinc-800 dark:hover:bg-primary-400 dark:focus-visible:ring-primary-600 dark:active:bg-primary-500"
    >
      Enviar <Send
        class="size-6 transition-transform group-hover:translate-x-1"
      />
    </button>
  </form>
</article>
