---
const EDUCATION = [
  {
    title: "Licenciatura en Desarrollo de Software - 5º Cuatrimestre",
    description:
      "Instituto Superior IFES - Introducción a la programación con Python. Manejo de bases de datos con MySQL. Diseño de sistemas y patrones de diseño con Java. Desarrollo web y móvil.",
    date: "2022 - Hoy",
  },
  {
    title: "Curso Perfil Web Full Stack Jr. - 7 meses",
    description:
      "Argentina Programa 4.0 - Introducción a metodologías ágiles, Git y GitHub, Angular y Java con Spring boot",
    date: "2022 - 2023",
  },
  {
    title: "Bachiller en Informática",
    description:
      "Escuela Secundaria ESRN Nº14 - Introducción al desarrollo web con HTML, CSS y PHP.",
    date: "2017 - 2021",
  },
];
---

<ol class="relative ml-3 border-s border-primary-600 dark:border-primary-300">
  {
    EDUCATION.map((edu) => (
      <li class="mb-8 ms-4 last:mb-0">
        <div class="absolute -start-1.5 mt-1.5 size-3 rounded-full border border-primary-600 bg-primary-100 dark:border-primary-300 dark:bg-primary-900" />
        <time class="mb-1 text-sm text-zinc-400 dark:text-zinc-500">
          {edu.date}
        </time>
        <h3 class="text-lg font-semibold text-zinc-800 dark:text-zinc-100">
          {edu.title}
        </h3>
        <p>{edu.description}</p>
      </li>
    ))
  }
</ol>
