---
import Container from "@components/Container.astro";

const LINKS = [
  {
    href: "/#inicio",
    name: "Inicio",
  },
  {
    href: "mailto:sepulvedamartin072@gmail.com",
    name: "Contáctame",
  },
];
---

<footer
  class="bg-gradient-to-r from-primary-100 to-primary-400 pb-12 dark:bg-primary-950 dark:bg-none md:pb-14"
>
  <Container class="flex flex-wrap items-center justify-between gap-4 text-sm">
    <span class="text-zinc-600 dark:text-zinc-400">
      &#169; 2024. Estructura de
      <a
        class="text-primary-900 decoration-primary-900 hover:underline dark:text-primary-300 dark:decoration-primary-300"
        href="https://porfolio.dev/"
        target="_blank"
        rel="noreferrer">midudev</a
      > y diseño de
      <a
        class="text-primary-900 decoration-primary-900 hover:underline dark:text-primary-300 dark:decoration-primary-300"
        href="https://www.wrappingmati.com.ar/"
        target="_blank"
        rel="noreferrer">wrappingmati</a
      >.
    </span>

    <ul class="flex">
      {
        LINKS.map((link) => (
          <li class="group">
            <a
              href={link.href}
              aria-label={link.name}
              class="inline-block whitespace-nowrap py-2 font-medium text-primary-900 transition-colors group-first:pr-2 group-last:pl-2 hover-active:text-primary-600 dark:text-zinc-400 dark:hover-active:text-primary-300"
            >
              {link.name}
            </a>
          </li>
        ))
      }
    </ul>
  </Container>
</footer>
