---
import Picture from "./Picture.astro";
import Link from "./Link.astro";
import Badge from "./Badge.astro";
import Download from "./icons/download.astro";
import Github from "./logos/github.astro";
import LinkedIn from "./logos/linkedin.astro";
import Mail from "./icons/mail.astro";

const SOCIALS = [
  {
    icon: Download,
    class: "size-6",
    text: "Ver CV",
    href: "./CV.pdf",
  },
  {
    icon: LinkedIn,
    class: "size-5",
    text: "LinkedIn",
    href: "https://www.linkedin.com/in/mart%C3%ADn-sep%C3%BAlveda-68473828a",
  },
  {
    icon: Github,
    class: "size-5",
    text: "GitHub",
    href: "https://github.com/XMrtN",
  },
  {
    icon: Mail,
    class: "size-6",
    text: "Contáctame",
    href: "mailto:sepulvedamartin072@gmail.com",
  },
];
---

<article
  class="flex items-center gap-x-4 sm:order-last sm:flex-col-reverse sm:gap-y-4"
>
  <Picture
    class="max-w-[72px] animate-float sm:max-w-[128px] md:max-w-[200px]"
  />
  <Badge>Desde Argentina 🇦🇷 </Badge>
</article>

<article>
  <h1
    class="mb-4 text-3xl font-bold text-zinc-800 dark:text-zinc-100 sm:text-4xl md:mb-6 md:text-5xl"
  >
    Hey, <span class="inline-block animate-waving">👋</span> soy <span
      class="text-primary-600 dark:text-primary-300">Martín</span
    >
  </h1>
  <p
    class="mb-4 text-xl md:mb-8 [&_strong]:font-semibold [&_strong]:text-primary-900 dark:[&_strong]:text-primary-100"
  >
    Soy un <strong>Desarrollador Web Full Stack Junior</strong>. Desde que me
    introduje en el desarrollo web supe que esto era lo que quería.
  </p>

  <div class="flex flex-wrap items-center gap-2">
    {
      SOCIALS.map((social) => (
        <Link
          href={social.href}
          aria-label={social.text}
          target="_blank"
          rel="noreferrer"
        >
          <social.icon class={social.class} /> {social.text}
        </Link>
      ))
    }
  </div>
</article>
