<a
  class={`inline-flex items-center gap-x-2 break-all rounded-full border border-primary-600 py-2 pl-3 pr-4 font-bold text-primary-600 transition hover:scale-110 hover:bg-primary-50 active:scale-105 active:bg-primary-100 dark:border-primary-300 dark:text-primary-300 dark:hover:bg-primary-950 dark:active:bg-primary-900 ${Astro.props.class}`}
  {...Astro.props}
>
  <slot />
</a>
