---
import ArrowUp from "@/components/icons/arrow-up.astro";
---

<button
  id="scrollUp"
  type="button"
  title="Ir al inicio"
  class="group fixed bottom-2 right-4 z-20 translate-y-[200%] rounded-full bg-primary-600 p-2.5 text-zinc-100 transition focus-visible:outline-none focus-visible:ring focus-visible:ring-primary-900 hover-active:bg-primary-800 dark:bg-primary-300 dark:text-zinc-800 dark:focus-visible:ring-primary-600 dark:hover-active:bg-primary-400 md:bottom-6"
>
  <ArrowUp
    class="size-8 transition-transform group-hover-active:-translate-y-1"
  />
</button>

<script>
  const scrollUpBtn = () => {
    const scrollUp = document.getElementById("scrollUp");

    scrollUp!.addEventListener("click", () => {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    });

    window.addEventListener("scroll", () => {
      if (
        document.body.scrollTop > 200 ||
        document.documentElement.scrollTop > 200
      ) {
        scrollUp!.classList.remove("translate-y-[200%]");
      } else {
        scrollUp!.classList.add("translate-y-[200%]");
      }
    });
  };

  // On page load
  scrollUpBtn();

  // On change route
  document.addEventListener("astro:after-swap", scrollUpBtn);
</script>
