---
import ArrowUp from "@/components/icons/arrow-up.astro";
---

<button
  id="scrollUpBtn"
  type="button"
  title="Ir al inicio"
  class="group fixed bottom-2 right-4 z-20 rounded-full bg-primary-600 p-2.5 text-zinc-100 opacity-0 transition focus-visible:outline-none focus-visible:ring focus-visible:ring-primary-900 hover-active:scale-105 hover-active:bg-primary-800 dark:bg-primary-300 dark:text-zinc-800 dark:focus-visible:ring-primary-600 dark:hover-active:bg-primary-400 md:right-2"
>
  <ArrowUp
    class="size-7 rotate-45 transition-transform group-hover-active:rotate-0"
  />
</button>

<script>
  const handleScrollUp = () => {
    const scrollUpBtn = document.getElementById("scrollUpBtn");

    window.addEventListener("scroll", () => {
      const scrollTop =
        document.body.scrollTop || document.documentElement.scrollTop;
      scrollUpBtn?.classList.toggle("opacity-0", scrollTop < 200);
    });

    scrollUpBtn!.addEventListener("click", () =>
      window.scrollTo({ top: 0, behavior: "smooth" }),
    );
  };
  // On page load
  handleScrollUp();
  // On change route
  document.addEventListener("astro:after-swap", handleScrollUp);
</script>
