---
import Moon from "@/components/icons/moon.astro";
import Sun from "@/components/icons/sun.astro";
---

<button
  id="theme-toggle"
  type="button"
  title="Cambiar tema"
  aria-label="Cambiar tema"
  class={`inline-flex place-content-center rounded-full transition focus-visible:outline-none focus-visible:ring focus-visible:ring-primary-600 hover:scale-125 hover-active:text-primary-800 dark:focus-visible:ring-primary-600 dark:hover-active:text-primary-300 ${Astro.props.class}`}
>
  <Sun class="size-6 transition-transform dark:-rotate-90 dark:opacity-0" />
  <Moon
    class="absolute size-6 rotate-90 opacity-0 transition-transform dark:rotate-0 dark:opacity-100"
  />
</button>

<script>
  const setDefaultTheme = () => {
    const themeToggle = document.getElementById("theme-toggle");

    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }

    // On change system preferences theme
    window
      .matchMedia("(prefers-color-scheme: dark)")
      .addEventListener("change", (e) => {
        if (e.matches) {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      });

    themeToggle?.addEventListener("click", () => {
      if (document.documentElement.classList.contains("dark")) {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
    });
  };
  // On page load
  setDefaultTheme();
  // On change route
  document.addEventListener("astro:after-swap", setDefaultTheme);
</script>
