---
import Moon from "./icons/sun.astro";
import Sun from "./icons/sun.astro";
---

<button
  id="theme-toggle"
  type="button"
  title="Tema"
  class="flex size-full items-center justify-center"
>
  <Sun
    class="nav-icon group-hover:transition-transform dark:-rotate-90 dark:opacity-0"
  />
  <Moon
    class="nav-icon absolute rotate-90 opacity-0 group-hover:transition-transform dark:rotate-0 dark:opacity-100"
  />
</button>

<script>
  const setTheme = () => {
    if (
      localStorage.theme === "dark" ||
      (!("theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }

    const themeToggle = document.getElementById("theme-toggle");
    themeToggle?.addEventListener("click", () => {
      if (document.documentElement.classList.contains("dark")) {
        // Whenever the user explicitly chooses light mode
        localStorage.theme = "light";
        document.documentElement.classList.remove("dark");
      } else {
        // Whenever the user explicitly chooses dark mode
        localStorage.theme = "dark";
        document.documentElement.classList.add("dark");
      }
    });
  };
  document.addEventListener("astro:page-load", setTheme);
  document.addEventListener("astro:after-swap", setTheme);
</script>
