<div
  class="wave pointer-events-none absolute left-0 top-0 -z-10 -mt-0.5 w-full select-none sm:top-14"
>
  <svg
    id="wave_in"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    style="isolation: isolate"
    viewBox="0 0 1440 320"
  >
    <defs>
      <clipPath id="_clipPath_ckm7G6PtNxsUpX8fJFcEwESa1f7lvt2j">
        <rect width="1440" height="320"></rect>
      </clipPath>
    </defs>
    <g clip-path="url(#_clipPath_ckm7G6PtNxsUpX8fJFcEwESa1f7lvt2j)">
      <linearGradient
        id="_lgradient_1"
        x1="0"
        y1="0.5"
        x2="1"
        y2="0.5"
        gradientTransform="matrix(1440,0,0,186.917,0,0)"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0%" stop-opacity="1" class="svg-from"></stop>
        <stop offset="100%" stop-opacity="1" class="svg-to"></stop>
      </linearGradient>
      <path
        class="fill-[url(#_lgradient_1)] dark:fill-primary-950"
        id="color_wave_in"
        d=" M 0 96 L 48 112 C 96 128 192 160 288 176 C 384 192 480 192 576 165.3 C 672 139 768 85 864 53.3 C 960 21 1056 11 1152 26.7 C 1248 43 1344 85 1392 106.7 L 1440 128 L 1440 0 L 1392 0 C 1344 0 1248 0 1152 0 C 1056 0 960 0 864 0 C 768 0 672 0 576 0 C 480 0 384 0 288 0 C 192 0 96 0 48 0 L 0 0 L 0 96 Z "
      ></path>
    </g>
  </svg>
</div>
