<div
  class="wave pointer-events-none absolute bottom-0 left-0 -z-10 -mb-0.5 w-full select-none"
>
  <svg
    id="wave_in"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    style="isolation: isolate"
    viewBox="0 0 1440 320"
  >
    <defs>
      <clipPath id="_clipPath_ckm7G6PtNxsUpX8fJFcEwESa1f7lvt2j">
        <rect width="1440" height="320"></rect>
      </clipPath>
    </defs>
    <g clip-path="url(#_clipPath_ckm7G6PtNxsUpX8fJFcEwESa1f7lvt2j)">
      <path
        class="fill-[url(#_lgradient_1)] dark:fill-primary-950"
        id="color_wave_1"
        d=" M 0 96 L 48 112 C 96 128 192 160 288 176 C 384 192 480 192 576 165.3 C 672 139 768 85 864 53.3 C 960 21 1056 11 1152 26.7 C 1248 43 1344 85 1392 106.7 L 1440 128 L 1440 320 L 1392 320 C 1344 320 1248 320 1152 320 C 1056 320 960 320 864 320 C 768 320 672 320 576 320 C 480 320 384 320 288 320 C 192 320 96 320 48 320 L 0 320 L 0 96 L 0 96 Z "
      ></path>
    </g>
  </svg>
</div>
