---
import ThemeToggle from "@/components/ThemeToggle.astro";

const LINKS = [
  {
    href: "/#experiencia",
    name: "Experiencia",
  },
  {
    href: "/#proyectos",
    name: "Proyectos",
  },
  {
    href: "/#sobre-mi",
    name: "Sobre mí",
  },
];
---

<header
  class={`fixed top-0 z-40 mt-2 flex w-full justify-center px-4 ${Astro.props.class}`}
>
  <nav
    class="flex flex-wrap items-center justify-center overflow-hidden rounded-full px-1 text-primary-600 dark:text-primary-400"
  >
    {
      LINKS.map((link) => (
        <a
          href={link.href}
          aria-label={link.name}
          class="my-1 whitespace-nowrap rounded-full px-3 py-1 text-sm font-medium transition-colors hover-active:bg-primary-800/5 dark:hover-active:bg-primary-50/5"
        >
          {link.name}
        </a>
      ))
    }

    <ThemeToggle />
  </nav>
</header>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  :is(.dark nav) {
    animation-name: nav-shadown-dark;
  }

  @keyframes nav-shadown {
    to {
      @apply bg-gradient-to-r from-primary-100 to-primary-400 shadow-lg ring-1 ring-primary-600;
    }
  }

  @keyframes nav-shadown-dark {
    to {
      @apply bg-primary-900 shadow-lg ring-1 ring-primary-400;
    }
  }
</style>

<script>
  const handleScrollSpy = () => {
    const links = document.querySelectorAll("header nav a");

    window.addEventListener("scroll", () => {
      let sectionVisible = false;

      links.forEach((a) => {
        const sectionElement: HTMLDivElement | null = document.querySelector(
          `section${a.getAttribute("href")?.substring(1)}`,
        );

        if (!sectionElement) return;

        if (
          window.scrollY >= sectionElement.offsetTop - 160 &&
          window.scrollY <
            sectionElement.offsetTop - 160 + sectionElement.offsetHeight
        ) {
          sectionVisible = true;
          links.forEach((link) => {
            link.classList.remove("text-primary-800", "dark:text-primary-300");
          });
          a.classList.add("text-primary-800", "dark:text-primary-300");
        }
      });

      if (!sectionVisible) {
        links.forEach((link) => {
          link.classList.remove("text-primary-800", "dark:text-primary-300");
        });
      }
    });
  };
  // On page load
  handleScrollSpy();
  // On change route
  document.addEventListener("astro:after-swap", handleScrollSpy);
</script>
