---
import Header from "@components/Header.astro";
import ScrollUp from "@components/ScrollUp.astro";
import Footer from "@components/Footer.astro";
import SvgTop from "@components/SvgTop.astro";
import SvgBottom from "@components/SvgBottom.astro";
import { ViewTransitions } from "astro:transitions";
import "@fontsource/onest/400.css";
import "@fontsource/onest/500.css";
import "@fontsource/onest/600.css";
import "@fontsource/onest/700.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth motion-reduce:scroll-auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />

    <style is:global>
      :root {
        color-scheme: light dark;
      }

      h1,
      h2,
      h3,
      h4 {
        text-wrap: balance;
      }
      p {
        text-wrap: pretty;
      }
    </style>
  </head>
  <body
    class="bg-primary-1 font-onest text-zinc-600 dark:bg-primary-1000 dark:text-zinc-400"
  >
    <Header />
    <ScrollUp />

    <main class="relative">
      <SvgTop />

      <slot />

      <SvgBottom />
    </main>

    <Footer />
  </body>
</html>
