---
import Nav from "@/components/Nav";
import ThemeToggle from "@/components/ThemeToggle.astro";
import Book from "@/components/icons/book.astro";
import Code from "@/components/icons/code.astro";
import User from "@/components/icons/user.astro";
import "@fontsource/geist-sans/300.css";
import "@fontsource/geist-sans/400.css";
import "@fontsource/geist-sans/500.css";
import "@fontsource/geist-sans/600.css";
import "@fontsource/geist-sans/700.css";
import { ViewTransitions } from "astro:transitions";
import "public/global.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html
  lang="es"
  class="scroll-smooth [color-scheme:light] data-[astro-transition]:scroll-auto motion-reduce:scroll-auto dark:[color-scheme:dark]"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/martin.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="font-geist overflow-y-scroll bg-neutral-50 bg-[url('/gradient.svg')] bg-top text-neutral-700 antialiased dark:bg-neutral-900 dark:text-white/80"
  >
    <Nav client:load transition:persist="navbar">
      <Book slot="book" class="nav-icon" />
      <Code slot="code" class="nav-icon" />
      <User slot="user" class="nav-icon" />
      <ThemeToggle slot="themeToggle" />
    </Nav>

    <div class="fixed inset-x-0 top-0 isolate z-[9999] h-14">
      <div
        class="absolute inset-0 backdrop-blur-[1px] [mask-image:linear-gradient(180deg,#000,transparent)]"
      >
      </div>
      <div
        class="absolute inset-0 backdrop-blur-[2px] [mask-image:linear-gradient(180deg,#000,transparent)]"
      >
      </div>
      <div
        class="absolute inset-0 backdrop-blur-[3px] [mask-image:linear-gradient(180deg,#000,transparent)]"
      >
      </div>
      <div
        class="absolute inset-0 backdrop-blur-[6px] [mask-image:linear-gradient(180deg,#000,transparent)]"
      >
      </div>
      <div
        class="absolute inset-0 backdrop-blur-[12px] [mask-image:linear-gradient(180deg,#000,transparent)]"
      >
      </div>
    </div>
    <div class="fixed inset-x-0 bottom-0 isolate z-[9999] h-24">
      <div
        class="absolute inset-0 backdrop-blur-[1px] [mask-image:linear-gradient(0deg,#000,transparent)]"
      >
      </div>
      <div
        class="absolute inset-0 backdrop-blur-[2px] [mask-image:linear-gradient(0deg,#000,transparent)]"
      >
      </div>
      <div
        class="absolute inset-0 backdrop-blur-[3px] [mask-image:linear-gradient(0deg,#000,transparent)]"
      >
      </div>
      <div
        class="absolute inset-0 backdrop-blur-[6px] [mask-image:linear-gradient(0deg,#000,transparent)]"
      >
      </div>
      <div
        class="absolute inset-0 backdrop-blur-[12px] [mask-image:linear-gradient(0deg,#000,transparent)]"
      >
      </div>
    </div>

    <slot />
  </body>
</html>
