---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import ScrollUp from "@components/ScrollUp.astro";
import SvgBottom from "@components/SvgBottom.astro";
import SvgTop from "@components/SvgTop.astro";
import "@fontsource/onest/400.css";
import "@fontsource/onest/500.css";
import "@fontsource/onest/600.css";
import "@fontsource/onest/700.css";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html
  lang="es"
  class="scroll-smooth [color-scheme:light_dark] data-[astro-transition]:scroll-auto motion-reduce:scroll-auto"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="bg-primary-1 bg-[radial-gradient(theme(colors.primary.50)_1px,transparent_1px)] font-onest text-zinc-600 [background-size:16px_16px] dark:bg-primary-1000 dark:bg-[radial-gradient(theme(colors.primary.950)_1px,transparent_1px)] dark:text-zinc-400 [&_h1]:text-balance [&_h2]:text-balance [&_h3]:text-balance [&_h4]:text-balance [&_p]:text-pretty"
  >
    <Header />
    <ScrollUp />

    <main class="relative">
      <SvgTop />

      <slot />

      <SvgBottom />
    </main>

    <Footer />
  </body>
</html>
